# Data Cleaning & Standarization

## Importing data

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel('regression_data.xls')
pd.set_option("display.max_columns", None)
#pd.set_option("display.max_rows", None)
df

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(16)
memory usage: 3.5 MB

In [8]:
df.sort_values('price').tail(10)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
8629,3835500195,2014-06-18,4,3.00,6430,27517,2.0,0,0,3,12,6430,0,2001,0,98004,47.6208,-122.219,3720,14592,4490000
2624,7738500731,2014-08-15,5,5.50,6640,40014,2.0,1,4,3,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408,4500000
8085,1924059029,2014-06-17,5,6.75,9640,13068,1.0,1,4,3,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454,4670000
1162,1247600105,2014-10-20,5,5.25,8010,45517,2.0,1,4,3,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788,5110000
1313,7558700030,2015-04-13,6,6.00,7390,24829,2.0,1,4,4,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619,5300000
1446,8907500070,2015-04-13,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,5350000
4407,2470100110,2014-08-04,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,5570000
9245,9208900037,2014-09-19,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,6890000
3910,9808700762,2014-06-11,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,7060000
7245,6762700020,2014-10-13,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,7700000

In [ ]:
df.head()

In [ ]:
df.describe()

## Checking Null Values

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull().sum() # We haven't detected null values in any columns

In [ ]:
df.id.duplicated().sum() #checking how many duplicated ids(Houses) are there in the Data set

In [ ]:
df.duplicated().sum() #Checking if there are duplicated rows. There are not any identical rows so the duplicated Ids may have some difference.

In [ ]:
df.loc[df.id.duplicated(),:].sort_values(by=['id']) # We check all the duplicated Ids in the Dataframe

In [ ]:
df.loc[df['id']==7853400250]

In [ ]:
df=df.sort_values('date')

In [ ]:
df

In [ ]:
df2 = df.drop('price', axis=1)

In [ ]:
df2.duplicated().sum()

In [ ]:
pd.set_option("display.max_rows", None)
df[df.duplicated(['id'], keep=False)].sort_values(by=['id'])

In [ ]:
df_dupl=df[df.duplicated(['id','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade', 'sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15', 'sqft_lot15'], keep=False)].sort_values(by=['id'])

In [ ]:
df=df.drop_duplicates( subset=['id','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade', 'sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15', 'sqft_lot15'],keep='last')

In [ ]:
df.info() # After checking the duplicate rows we decided to keep the rows with the last date. Besides price and date, there is no other id that has difference in it's  values.

In [ ]:
df.loc[df['id']==1000102]

In [ ]:
df.loc[df['id']==7200179]

In [ ]:
df.loc[df['id']==109200390]

# Pre-processing

## Checking data types

In [ ]:
df['bathrooms']=df['bathrooms'].astype(int) # Python by default floors the integer

In [ ]:
df['floors']=df['floors'].astype(int)

In [ ]:
df.head(25)

In [ ]:
df.info()

In [ ]:
df=df.drop(['id'],axis=1)

In [ ]:
df.hist(figsize=(15,15),bins=20,layout=(5,4));

In [ ]:
df.hist(['bedrooms'], figsize=(13,11),bins=50)

In [ ]:
df.hist(['sqft_lot'], figsize=(13,11),bins=50)

In [ ]:
df.hist(['floors'], figsize=(13,11),bins=50)

In [ ]:
df.describe()

In [ ]:
df.sort_values(by=['bedrooms']).tail(10) 
# After checking visually, statistically and logically we assume that the maximun value of bedrooms is an outlier 
# and we think that's a typo since the price, the number of bathrooms is not coherent with so many bedrooms. 
# Probably we thought it is a 3 bedroom house instead of 33.

In [ ]:
df.sort_values(by=['bathrooms']).tail(10)

In [ ]:
df.sort_values(by=['sqft_living']).tail(10)

In [ ]:
df[df['zipcode']==98053].sort_values('price') #We checked the Zip code because the biggest sqft_living house was 
# cheaper than other similar in some features. We therefore checked the houses of that Zipcode 
# and we realised that in the district that house was the most expensive so we assume that is not an outlier 
# and that is a correct value.

In [ ]:
df.sort_values(by=['sqft_lot']).tail(10)

In [ ]:
df.loc[df['id']==6762700020]